body {
	background-color: whitesmoke;
	font-family: 'Trebuchet MS', Arial, Tahoma;
	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	scroll-behavior: smooth;
	
	
}

html {
	scroll-behavior: smooth;
}

.rokasg {
	text-align: center;
	margin: auto;
}

.righty {
	text-align:right;
}

.padrighty {
	background-color: white;
	margin-right:27%;
	box-shadow: 0.05em 0.05em 0.5em 0.03em grey;
}

h1 {
	text-align: center;
}
h3, h4, h5, h6 {
	margin-left: 0.7em;
	margin-right: 0.7em;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 70vw;
}

code {
	text-align: left;
}


.codehilite {
	margin: 1em;
}

pre {
	margin-left: 2em;
	text-align: left;
}



.title {
	display: block;
	font-size: 3em; 
	margin-top: 0.33em;
	margin-bottom: 0.33em;
	margin-left: 1em;
	margin-right: 0;
	font-weight: bold;
	text-align: left;
	font-family: "Abel";
	color: rgb(63, 63, 63);
}

.title-single {
	display: block;
	font-size: 3em; 
	margin-top: 0.33em;
	margin-bottom: 0.33em;
	margin-left: 1em;
	margin-right: 0;
	font-weight: bold;
	text-align: left;
	font-family: "Abel";
	color: rgb(63, 63, 63);
}

.back {
	display: block;
	font-size: 2.2em; 
	margin-top: 0.33em;
	margin-bottom: 0.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	text-align: center;
	font-family: "Abel";
	color: rgb(63, 63, 63);
}

.back:hover, .back:active {
	color: rgb(134, 134, 134);
}

.title:hover, .title:active {
	color: rgb(134, 134, 134);
}

p {
	text-align: left;
<<<<<<< HEAD
	margin-left: 0.5em;
	margin-right: 0.5em;
=======
	margin-left: 0.7em;
	margin-right: 0.7em;
>>>>>>> 1db2bfea21513df2a2cd6f20f4e2f12be8da1de0
	color: #121314;
	font-size: 1em;
}

.sidebar-text {
	font-size: 1.2em;
	color:rgb(206, 206, 206);
}


a, a:link, a:visited {
	text-decoration: none;
}

.sidebar-text:hover, .sidebar-text:active {
	color:white;
}



.main-body {
	display: flex;
	flex-direction: row;

	border: none;
	border-color: red;
}

.closer {
	line-height: 0.75em;
}

.little {
	font-size: 0.6em;
	color:rgb(177, 177, 177);
}

a:hover > .little {
	color:rgb(206, 206, 206);
}


scroll-container {
	scroll-behavior: smooth;
}

.card {
	border-style: none;
	border-width: 0.15em;
	border-color: rgb(214, 208, 208);
	width: 70vw;
	height: auto;
	margin: 10px;
	display: inline-block;
	
	background-color:rgba(255, 255, 255, 1);
	position:relative;
	padding:0.04em;

	box-shadow: 0.05em 0.05em 0.1em 0.01em grey;
	transition: box-shadow 0.3s ease-in-out;

	font-family: 'Merriweather Sans', sans-serif;

	max-height: 25em;
	overflow: hidden;
	
	
	padding-bottom: 2em;
}

  
/* Transition to showing the bigger shadow on hover */
.card:hover {
	box-shadow: 0.07em 0.07em 0.8em 0.01em grey;
}


.card-end {
	border-style: none;
	border-width: 0.15em;
	border-color: rgb(214, 208, 208);
	width: 70em;
	height: 20em;
	margin: 10em;
	display: inline-block;
	text-align: center;
	background-color:transparent;
	position:relative;
	padding:0.04em;

	user-select: none;

	box-shadow: 0.05em 0.05em 0.1em 0.01em grey;

	overflow: hidden;
}

.end {
	margin-top: 10em;
	color:gray;
	text-align: center;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: stretch;

}

#button-1, #button-2 {
	background-color: transparent;
	position: static;
	border: none;
	border-color: black;
	display: inline-block;
	transition: 0.3s;
	opacity: 0.3;
	margin-top: 5px;
	width: 4em;
	height: 2em;
	margin-right: 2.5em;
	margin-bottom: 0em;

	float: right;
}

#button-3 {
	background-color: transparent;
	position: static;
	border: none;
	border-color: black;
	display: inline-block;
	transition: 0.3s;
	opacity: 0.3;
	margin-top: 5px;
	width: 4em;
	height: 2em;
	margin-right: 1.5em;
	margin-bottom: 0em;

	float: right;
}


.card:hover > #button-1, .card:hover > #button-2, .card:hover> #button-3{ 
	opacity: 1;
}



.ico {
	max-width: 1.4em;
	max-height: 1.4em;
}

#datehover {
	position: static;
	border: none;
	border-color: black;
	display: inline-block;
	transition: 0.3s;
	opacity: 0.6;
	margin-top: 5px;
	width: auto;
	height: 1.2em;
	margin-right: 3.5em;
	color: grey;


	float: right;
}


.card:hover > #datehover {
	opacity: 1;
}

#button-1 {
	margin-right: 1em;
}


.card-container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	min-height:100%;
	justify-content: center;	
	/*border-style: solid;
	border-width: 10px;*/
	z-index: 1;
	flex-grow: 12;


	border: none;
	
}

.padding {
	flex: 1;

	transform: none;
	will-change: flex-grow;
	transition: flex-grow 0.3s cubic-bezier(0,0,0.3,1);
	
}

.padding.left.hidden {
	flex-grow: 2;
}

.padding.right.hidden {
	flex-grow: 2;
}

/* 16 total */

.padding.left {
	flex-grow: 3.7;	
}

.padding.right{
	flex-grow: 0.3;
}



.header-bar {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;

	justify-content: center;
	
	z-index: 5;
	float: top;
	display: flex;

	flex-direction: row;
	
	font-family: 'Abel';
	box-shadow: 0.1em 0.1em 0.15em 0.01em grey;

	border: none;
}

.header-space {
	width: 100%;
	height: 50px;
}

.side-menu {
	background-color: rgb(109, 104, 104);
	width: 20em;
	position: fixed;

	justify-content: center;

	top: 50px;
	bottom: 0;
	left: 0;

	z-index: 3;

	transform: none;
	will-change: transform;
	transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}

.side-text {
	margin-top: 3em;
	margin-left: 2em;
	color: white;
	text-emphasis: bold;
	font-family: "Abel";

}

.side-menu.hidden {
	transform: translateX(-25em);
}


.rokasg {
	z-index: 2;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.rokasg-menu {
	background-color: transparent;
	width: 20em;
	position: fixed;
	border-style: none;
	border-color: red;
	border-width: 2px;


	text-align: right;
	align-content: right;

	position: fixed;
	margin: 0% auto; /* Will not center vertically and won't work in IE6/7. */
	left: 0;
	right: 0;
	top: 2em;
	z-index: 4;

	font-family: 'Abel';

	transform: none;
	will-change: transform;
	transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}

.rokasg-menu.hidden {
	transform: translateY(-17em);
}


.button {
	z-index: 1;
	color: white;
	float:left;
	border: solid;
	border-color: black;
	margin-left: 1em;
	width: 2em;
	height: 2em;
	margin-top:0.3em;
	margin-bottom:0.3em;
}

.button-invis {
	z-index: 1;
	color: white;
	float:right;
	border: solid;
	border-color: black;
	margin-right: 1em;
	width: 2em;
	height: 2em;
	margin-top:0.3em;
	margin-bottom:0.3em;
	opacity: 0; 
	pointer-events: none;
}



.side-menu-space {
	background-color: maroon;
	flex: 1;
	order: 0;
	width: 200px;
	min-height: 100%;
}

.boi {
	max-width: 20px;
	border-width: 10px;
	border-style: solid;
	position: relative;
}

.header-logo {
	max-width: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#card-text {
	padding: 0.01em;
	max-height: 24em;

	display: inline-block;
	position:relative;
	
	background: -webkit-linear-gradient(top, #121314 13em, #fff);
   	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
	overflow: hidden;
	content: "";
}

#card-text:before {

    background:linear-gradient(transparent 150px, white);
}

.cutoff {
	visibility: hidden;
}

.cutoff.show {
	visibility: visible;
}


#rokasg {

}

/*=============== MOBILE ===============*/


/* @media (max-width: 768px) { .css-class { some-rule: true; } } */

@media only screen and (max-width: 600px) {
	.card {
		width: 100%;
		height: auto;
		margin: 0px;
		margin-bottom: 2em;
		
		position:relative;
	}

	.card-container {
		flex-wrap: wrap;
		min-height:100%;
		justify-content: center;	
		/*border-style: solid;
		border-width: 10px;*/	
		
	}

	.title {
		font-size: 2em; 
		margin-top: 0.33em;
		margin-bottom: 0.33em;
		margin-left: 0em;
		text-align: center;
		color: rgb(63, 63, 63);
	}

	.side-menu {
		width: 100%;
	}

	.side-menu.hidden {
		transform: translateX(-30em);
	}

	.padding {
		flex: 0;
		width: 0%;
	}
	
	.padding.left.hidden {
		flex-grow: 0;
	}
	
	.padding.right.hidden {
		flex-grow: 0;
	}
	
	/* 16 total */
	
	.padding.left {
		flex-grow: 0;	
	}
	
	.padding.right{
		flex-grow: 0;
	}


	#button-1, #button-2 {
		margin-top: 5px;
		width: 11%;
		height: 3em;
		margin-right: auto;
		margin-bottom: auto;
		margin-left: 30%;
		margin-right: 1%;
		float: left;
	}
	
	#button-3 {
		margin-top: 5px;
		width: 11%;
		height: 3em;
		margin-right: auto;
		margin-bottom: auto;
		margin-right: 1%;
	
		float: left;
	}

	img {
		max-width: 100%;
	}

	.ico {
		max-width: 3em;
		max-height: 3em;
	}

  }

